p {
  width: 500px;
}

body {
  position: relative;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  height: 80px;
}

.header,
.container,
.footer {
  position: relative;
  z-index: 1;
}

@media (max-width: 820px) {
  p {
    width: 400px;
  }
}

body.about-page::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("../img/background.png") center/cover no-repeat;
  opacity: 0.3;
  z-index: -1;
}
