body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D6D6D6;
}

.nav{
    display: flex;
    display: inline-flex;
    align-items: center;
    gap: 60px;
    margin: 20px 0px 20px 0px;
    /* border: red 1px solid; */
}

.nav a{
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
    text-decoration: underline;
}

.nav .chosen_header{
    font-weight: 900;
}

p{
    font-family: "orbital", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 160%;
    color: #000000;
}

h2{
    color: #000;
    font-family: "orbital", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    /* text-transform: uppercase; */
    /* text-decoration: underline; */
}
h3{
    color: #000;
    font-family: "orbital", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    /* text-transform: uppercase; */
    /* text-decoration: underline; */
}

footer{
    font-family: "orbital", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 160%;
    color: #b6b6b6;
}
