body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
  width: 60%;
}

.text_group2{
    display: flex;
    width: 96px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    /* border: 1px solid red; */
}
.card{
    display: flex;
    width: 250px;
    height: 250px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0px;
    background-color: #f4f4f4;

}
.card img{
    height: 180px;
    width: 180px;
    object-fit: cover;
}

.text_group1{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    /* border: 1px solid red; */
}

.card p{
    margin: 0;
    color: #000;
    font-family: "futura-100", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.jp{
    font-size: 30px;
    font-weight: 700;
    font-family: "sicyubi-futofuder", sans-serif;
    font-style: normal;
}
.pinyin{
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}
.en{
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

.equipments_list{
    display: flex;
    width: 60%;
    padding: 0 25px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 45px;
    flex-shrink: 0;
    flex-wrap: wrap;
}


/* modal */

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-overlay.is-visible {
  display: flex;
}

.modal-inner {
  background: #ffffff;
  padding: 32px 48px 32px 32px;
  position: relative;
}


.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.modal-close {
  position: absolute;
  right: 24px;
  top: 18px;
  border: none;
  background: none;
  font-size: 32px;
  line-height: 1;
  cursor: pointer;
}

/* 顶部文字 */
.modal-label {
  font-size: 18px;
  margin-bottom: 4px;
  font-weight: 500;
  text-align: center;
}

.modal-title-en {
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
  text-align: center;
}

/* 图片 */
.modalImg {
  width: 300px;
  height: auto;
}

.text_big {
  display: flex;
  width: 600px;
  justify-content: space-between;
  align-items: flex-end;
}

.modal-desc {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  width: 200px;
}

.text_small1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  gap: 4px;
}

.modal-jp {
  font-size: 28px;
  margin: 0;
}

.modal-pinyin {
  font-size: 16px;
  margin: 0;
}

@media (max-width: 700px) {
  .modal-inner {
    padding: 24px;
  }

  .text_big {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .text_small1 {
    align-items: flex-start;
    text-align: left;
  }
}
