body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img{
    /* border: 1px solid red; */
    width: 80%;
    height: auto;
    /* margin-top: 100px; */
}